/*	RESET
--------------------------------------------------------------------------------------------------*/

html {
	box-sizing: border-box;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

*, *:before, *:after { 
	box-sizing: inherit;
}

body {
	margin: 0;
	overflow-x: hidden;
	background: $black;
	color: $white;
}

.page-news,
.page-projects,
.page-profile,
.page-contact {
	background: $white;
	color: $black;
}

.row {
	padding: 0 20px 0 10px;
	position: relative;
}

.site-content {
	transform: translate3d(0,0,0);
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}

audio, video {
	display: inline-block;
	vertical-align: baseline;
}

ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
	li {
		margin: 0;
		padding: 0;
	}
}

img {
	border: 0;
	height: auto;
	max-width: 100%;
	vertical-align: bottom;
	margin-bottom: $line-height-m;
}

figure {
	margin: 0;
}

