/*	LAYOUT
--------------------------------------------------------------------------------------------------*/

.page {
	position: absolute; 
	top: 0;
}

.row {
	padding: 0 10px;
}

.site-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
}

.site-nav {
	padding-top: 26px;
}

.site-content {
	width: 100vw;
	min-height: calc(100vh - 56px);
}

.page-home .site-content {
	min-height: 100vh;
}
