/*	TYPOGRAPHY
--------------------------------------------------------------------------------------------------*/

@font-face {
	font-family:'LetterGothicStd-Regular';
	src: url('fonts/LetterGothicStd_gdi.eot');
	src: url('fonts/LetterGothicStd_gdi.eot?#iefix') format('embedded-opentype'),
		url('fonts/LetterGothicStd_gdi.woff') format('woff'),
		url('fonts/LetterGothicStd_gdi.ttf') format('truetype'),
		url('fonts/LetterGothicStd_gdi.svg#LetterGothicStd-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2666;
}

@font-face {
	font-family:'LetterGothicStd-Bold';
	src: url('fonts/LetterGothicStd-Bold_gdi.eot');
	src: url('fonts/LetterGothicStd-Bold_gdi.eot?#iefix') format('embedded-opentype'),
		url('fonts/LetterGothicStd-Bold_gdi.woff') format('woff'),
		url('fonts/LetterGothicStd-Bold_gdi.ttf') format('truetype'),
		url('fonts/LetterGothicStd-Bold_gdi.svg#LetterGothicStd-Bold') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2666;
}

body, button, input, select, textarea, h1, h2, h3, h4, h5, h6 {
	@include font-m;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

a {
	background-color: transparent;
	text-decoration: none;
	color: $black;
	transition: color .5s;
	&:hover {
		color: $blue;
		transition: color .2s;
	}
	&:active, &:hover {
		outline: 0;
	}
}

b, strong {
	font-weight: $font-weight-bold;
}

small, sub, sup {
	font-size: $font-size-s;
}

sub, sup {
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

::-moz-selection {
	color: $white;
	background: $black;
}

::selection {
	color: $white; 
	background: $black;
}

.intro, .intro * {
	@include font-l;
}

.site-content p {
	margin-bottom: $line-height-m;
}

.download {
	text-transform: uppercase;
	display: block;
}



