.site-header {
	background: $white;
	border-bottom: 1px solid black;
	width: 100%;
	@include clearfix;
	* {
		line-height: 25px;
	}
	.site-title {
		float: left;
	}
	.language {
		float: right;
		li {
			display: inline-block;
		}
		.active {
			color: $blue;
		}
	}
}

.site-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
}