.site-nav {
	@include clearfix;
	padding-top: 26px;
	li {
		display: inline-block;
		margin-right: 5px;
	}
	li, a {
		@include font-l;
	}
	a.active {
		color: blue;
	}

}

.site-nav {
	background: white;
}