.page-project .project {
	width: 768px;
	padding-bottom: 100px;
}

.project-details {
	margin-bottom: $line-height-m;
	h3 {
		text-transform: uppercase;
		display: inline-block;
		margin-right: 10px;
	}
	p {
		display: inline-block;
		margin: 0;
	}
}

.wrapper {
	display: flex;
	.project {
		flex: 0 0 768px;
	}
	#next {
		flex: auto;
	}
}

.page-project .site-content {
	background: $black;
	color: $white;
}

.page-project.ng-enter {
	sz-index: -1;
}