<header class="site-header" >
	<div class="row">
		<h1 class="site-title">
			<a href="#/projects">Schnadenberger Brünjes Architekten</a>
		</h1>
		<ul class="language">
			<li class="active">De</li>
			<li><a href="">En</a></li>
		</ul>
	</div>
</header>


<main class="site-content">
	<div class="row">


		<div ng-controller="CarouselDemoCtrl" class="slider-front">
			<div style="height: 305px">
				<carousel interval="myInterval">
					<slide ng-repeat="slide in slides" active="slide.active">
						<img ng-src="{{slide.image}}" style="margin:auto;">
					</slide>
				</carousel>
			</div>
		</div>
		
	</div>
</main>

