<header class="site-header" ng-include="'templates/header.html'"></header>

<nav class="site-nav" ng-include="'templates/nav.html'"></nav>

<main class="site-content">
	<div class="row">
		<div class="intro">
			Wir streben nach Einfachheit und Klarheit, auch wenn der Weg dorthin komplex ist. Intensive Auseinandersetzung mit den Nutzern und deren Anforderungen, sowie dem Ort und dessen Identität stehen am Beginn jedes Projekts. Vorausschauender Blick in Richtung möglicher Veränderungen in Funktion und Umwelt, als ﬂexible Parameter in der Planung. Ziel ist es das ideale Maß der Architektur zu entwickeln, welches der Nutzung, dem Anspruch, dem Ort und auch dem vereinbarten Budgets entspricht.
		</div>
		<a href="" class="download">→ Download Studio-Profile</a>
		<img src="images/profile/profile-1.jpg" alt="">
		



		<div ng-controller="AccordionDemoCtrl">
			
			<ul class="accordion news">

			<accordion>
				
				<li class="news-item">
				<accordion-group>
					<accordion-heading>
						<header class="news-item-header">
							<div class="news-item-title">Dipl.-Ing. Ira Simone Schnadenberger</div>
						</header>
					</accordion-heading>
					<div class="news item-body">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus facere quam minus eligendi, totam dolores mollitia omnis neque ab sint commodi inventore qui error id, corporis cum laborum vitae iusto dolore. Eius aperiam, autem ut, repellat illum dolores corporis quaerat. Natus minus, blanditiis libero, eos fugit praesentium at dolores mollitia? Numquam, aperiam quaerat magnam reprehenderit aspernatur voluptatum nam vel, iusto ullam cupiditate, omnis animi. Soluta vero perferendis aut, aliquid quisquam quam, ex amet sequi molestiae omnis odio quas, asperiores adipisci, quia harum minus iure ab pariatur maxime! Dignissimos, voluptas laudantium facere nulla iste, facilis minima mollitia non hic quasi in!</p>
					</div>
				</accordion-group>
				</li>

				<li class="news-item">
				<accordion-group>
					<accordion-heading>
						<header class="news-item-header">
							<div class="news-item-title">Dipl.-Ing. Katrin Brünjes</div>
						</header>
					</accordion-heading>
					<div class="news item-body">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus facere quam minus eligendi, totam dolores mollitia omnis neque ab sint commodi inventore qui error id, corporis cum laborum vitae iusto dolore. Eius aperiam, autem ut, repellat illum dolores corporis quaerat. Natus minus, blanditiis libero, eos fugit praesentium at dolores mollitia? Numquam, aperiam quaerat magnam reprehenderit aspernatur voluptatum nam vel, iusto ullam cupiditate, omnis animi. Soluta vero perferendis aut, aliquid quisquam quam, ex amet sequi molestiae omnis odio quas, asperiores adipisci, quia harum minus iure ab pariatur maxime! Dignissimos, voluptas laudantium facere nulla iste, facilis minima mollitia non hic quasi in!</p>
					</div>
				</accordion-group>
				</li>

				<li class="news-item">
				<accordion-group>
					<accordion-heading>
						<header class="news-item-header">
							<div class="news-item-title">Collaborators</div>
						</header>
					</accordion-heading>
					<div class="news item-body">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus facere quam minus eligendi, totam dolores mollitia omnis neque ab sint commodi inventore qui error id, corporis cum laborum vitae iusto dolore. Eius aperiam, autem ut, repellat illum dolores corporis quaerat. Natus minus, blanditiis libero, eos fugit praesentium at dolores mollitia? Numquam, aperiam quaerat magnam reprehenderit aspernatur voluptatum nam vel, iusto ullam cupiditate, omnis animi. Soluta vero perferendis aut, aliquid quisquam quam, ex amet sequi molestiae omnis odio quas, asperiores adipisci, quia harum minus iure ab pariatur maxime! Dignissimos, voluptas laudantium facere nulla iste, facilis minima mollitia non hic quasi in!</p>
					</div>
				</accordion-group>
				</li>

				<li class="news-item">
				<accordion-group>
					<accordion-heading>
						<header class="news-item-header">
							<div class="news-item-title">Auszeichnungen</div>
						</header>
					</accordion-heading>
					<div class="news item-body">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus facere quam minus eligendi, totam dolores mollitia omnis neque ab sint commodi inventore qui error id, corporis cum laborum vitae iusto dolore. Eius aperiam, autem ut, repellat illum dolores corporis quaerat. Natus minus, blanditiis libero, eos fugit praesentium at dolores mollitia? Numquam, aperiam quaerat magnam reprehenderit aspernatur voluptatum nam vel, iusto ullam cupiditate, omnis animi. Soluta vero perferendis aut, aliquid quisquam quam, ex amet sequi molestiae omnis odio quas, asperiores adipisci, quia harum minus iure ab pariatur maxime! Dignissimos, voluptas laudantium facere nulla iste, facilis minima mollitia non hic quasi in!</p>
					</div>
				</accordion-group>
				</li>

				<li class="news-item">
				<accordion-group>
					<accordion-heading>
						<header class="news-item-header">
							<div class="news-item-title">Publikationen</div>
						</header>
					</accordion-heading>
					<div class="news item-body">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus facere quam minus eligendi, totam dolores mollitia omnis neque ab sint commodi inventore qui error id, corporis cum laborum vitae iusto dolore. Eius aperiam, autem ut, repellat illum dolores corporis quaerat. Natus minus, blanditiis libero, eos fugit praesentium at dolores mollitia? Numquam, aperiam quaerat magnam reprehenderit aspernatur voluptatum nam vel, iusto ullam cupiditate, omnis animi. Soluta vero perferendis aut, aliquid quisquam quam, ex amet sequi molestiae omnis odio quas, asperiores adipisci, quia harum minus iure ab pariatur maxime! Dignissimos, voluptas laudantium facere nulla iste, facilis minima mollitia non hic quasi in!</p>
					</div>
				</accordion-group>
				</li>

			</accordion>

			</ul>

		</div>

	</div>
</main>

