<header class="site-header" ng-include="'templates/header.html'"></header>
<nav class="site-nav" ng-include="'templates/nav.html'"></nav>

<main class="site-content">
	<div class="row">

		<div class="projects">

			<div class="project">
				<a ui-sref="project055">
					<div class="project-thumb">
						<img src="images/projects/project-055-thumb.jpg" alt="">
					</div>
					<div class="project-info">
						<div class="project-number">
							055
						</div>
						<div class="project-title">
							Firmensitz mytoys.de
						</div>
						<div class="project-location">
							Berlin		
						</div>
						<div class="project-year">
							2009
						</div>
					</div>
				</a>
			</div>

			<div class="project">
				<a ui-sref="project022">
					<div class="project-thumb">
						<img src="images/projects/project-022-thumb.jpg" alt="">
					</div>
					<div class="project-info">
						<div class="project-number">
							022
						</div>
						<div class="project-title">
							Ehemalige Industrie- und Handelskammer Berlin
						</div>
						<div class="project-location">
							Berlin-Charlottenburg
						</div>
						<div class="project-year">
							2010-2011
						</div>
					</div>
				</a>
			</div>

			

		</div>
	</div>
</main>