/*--------------------------------------------------------------------------------------------------
		GLOBAL STYLES
--------------------------------------------------------------------------------------------------*/
/*	RESET
--------------------------------------------------------------------------------------------------*/
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
  background: #000;
  color: #fff;
}

.page-news,
.page-projects,
.page-profile,
.page-contact {
  background: #fff;
  color: #000;
}

.row {
  padding: 0 20px 0 10px;
  position: relative;
}

.site-content {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, video {
  display: inline-block;
  vertical-align: baseline;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul li, ol li {
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
  margin-bottom: 16px;
}

figure {
  margin: 0;
}

/*	TYPOGRAPHY
--------------------------------------------------------------------------------------------------*/
@font-face {
  font-family: 'LetterGothicStd-Regular';
  src: url("fonts/LetterGothicStd_gdi.eot");
  src: url("fonts/LetterGothicStd_gdi.eot?#iefix") format("embedded-opentype"), url("fonts/LetterGothicStd_gdi.woff") format("woff"), url("fonts/LetterGothicStd_gdi.ttf") format("truetype"), url("fonts/LetterGothicStd_gdi.svg#LetterGothicStd-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2666;
}
@font-face {
  font-family: 'LetterGothicStd-Bold';
  src: url("fonts/LetterGothicStd-Bold_gdi.eot");
  src: url("fonts/LetterGothicStd-Bold_gdi.eot?#iefix") format("embedded-opentype"), url("fonts/LetterGothicStd-Bold_gdi.woff") format("woff"), url("fonts/LetterGothicStd-Bold_gdi.ttf") format("truetype"), url("fonts/LetterGothicStd-Bold_gdi.svg#LetterGothicStd-Bold") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2666;
}
body, button, input, select, textarea, h1, h2, h3, h4, h5, h6 {
  font-size: 13px;
  line-height: 16px;
  font-weight: normal;
  font-family: "LetterGothicStd-Bold", consolas, monospace;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: #000;
  -webkit-transition: color .5s;
          transition: color .5s;
}
a:hover {
  color: #0000ff;
  -webkit-transition: color .2s;
          transition: color .2s;
}
a:active, a:hover {
  outline: 0;
}

b, strong {
  font-weight: bold;
}

small, sub, sup {
  font-size: 11px;
}

sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

::-moz-selection {
  color: #fff;
  background: #000;
}

::selection {
  color: #fff;
  background: #000;
}

.intro, .intro * {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  font-family: "akzidenz grotesk", "helvetica", arial, sans-serif;
}

.site-content p {
  margin-bottom: 16px;
}

.download {
  text-transform: uppercase;
  display: block;
}

/*  ANIMATIONS
--------------------------------------------------------------------------------------------------*/
@-webkit-keyframes slideFromTop {
  from {
    top: -100vh;
  }
  to {
    top: 0;
  }
}
@keyframes slideFromTop {
  from {
    top: -100vh;
  }
  to {
    top: 0;
  }
}
@-webkit-keyframes slideToTop {
  from {
    top: 0;
  }
  to {
    top: -100vh;
  }
}
@keyframes slideToTop {
  from {
    top: 0;
  }
  to {
    top: -100vh;
  }
}
@-webkit-keyframes slideFromBottom {
  from {
    top: 100vh;
  }
  to {
    top: 0;
  }
}
@keyframes slideFromBottom {
  from {
    top: 100vh;
  }
  to {
    top: 0;
  }
}
@-webkit-keyframes slideToBottom {
  from {
    top: 0;
  }
  to {
    top: 100vh;
  }
}
@keyframes slideToBottom {
  from {
    top: 0;
  }
  to {
    top: 100vh;
  }
}
@-webkit-keyframes slideFromRight {
  from {
    left: 100vw;
  }
  to {
    left: 0;
  }
}
@keyframes slideFromRight {
  from {
    left: 100vw;
  }
  to {
    left: 0;
  }
}
@-webkit-keyframes slideToRight {
  from {
    left: 0;
  }
  to {
    top: 100vw;
  }
}
@keyframes slideToRight {
  from {
    left: 0;
  }
  to {
    top: 100vw;
  }
}
@-webkit-keyframes slideFromLeft {
  from {
    left: -100vw;
  }
  to {
    left: 0;
  }
}
@keyframes slideFromLeft {
  from {
    left: -100vw;
  }
  to {
    left: 0;
  }
}
@-webkit-keyframes slideToLeft {
  from {
    left: 0;
  }
  to {
    left: -100vw;
  }
}
@keyframes slideToLeft {
  from {
    left: 0;
  }
  to {
    left: -100vw;
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*	PAGE TRANSITIONS
--------------------------------------------------------------------------------------------------*/
.page {
  position: absolute;
  top: 0;
}

/* tells angular how long the animation shall occur */
.page.ng-enter, .page.ng-leave {
  -webkit-transition: all 1s ease-in-out;
          transition: all 1s ease-in-out;
}

/* entering content */
.page.ng-enter {
  z-index: 10;
  height: 100vh;
  overflow-y: hidden;
}

.project .page.ng-enter {
  height: auto;
}

.page.ng-enter.from- {
  -webkit-animation: fadeIn 1s !important;
          animation: fadeIn 1s !important;
}

.page-home.from-news,
.page-home.from-projects,
.page-home.from-profile,
.page-home.from-contact,
.page-news.from-projects,
.page-news.from-profile,
.page-news.from-contact,
.page-projects.from-profile,
.page-projects.from-contact,
.page-profile.from-contact {
  -webkit-animation: slideFromTop 1s;
          animation: slideFromTop 1s;
}

.page-projects.from-home,
.page-projects.from-news,
.page-projects.from-project055,
.page-projects.from-project022,
.page-profile.from-news,
.page-profile.from-projects,
.page-contact.from-news,
.page-contact.from-projects,
.page-contact.from-profile {
  -webkit-animation: slideFromBottom 1s;
          animation: slideFromBottom 1s;
}

/* leaving content */
.page.ng-leave {
  -webkit-animation: slideToTop 1s !important;
          animation: slideToTop 1s !important;
}

.page-home.ng-leave .site-content {
  -webkit-animation: fadeOut 1s !important;
          animation: fadeOut 1s !important;
}

.home .page-news.ng-leave,
.home .page-projects.ng-leave,
.home .page-profile.ng-leave,
.home .page-contact.ng-leave,
.news .page-projects.ng-leave,
.news .page-profile.ng-leave,
.news .page-contact.ng-leave,
.projects .page-profile.ng-leave,
.projects .page-contact.ng-leave,
.profile .page-contact.ng-leave {
  -webkit-animation: slideToBottom 1s !important;
          animation: slideToBottom 1s !important;
}

.page-project.ng-enter {
  -webkit-animation: slideFromRight 1s !important;
          animation: slideFromRight 1s !important;
}

.page-project.from-projects.ng-enter {
  -webkit-animation: fadeIn 1s !important;
          animation: fadeIn 1s !important;
}

.page-project.ng-leave {
  -webkit-animation: slideToLeft 1s !important;
          animation: slideToLeft 1s !important;
}

.project .page-projects.ng-leave {
  -webkit-animation: slideToBottom 1s !important;
          animation: slideToBottom 1s !important;
  z-index: 9999;
}

.projects .page-project.ng-leave {
  -webkit-animation: none 1s !important;
          animation: none 1s !important;
}

.projects .page-project.ng-leave .site-content {
  -webkit-animation: fadeOut 1s !important;
          animation: fadeOut 1s !important;
}

/*--------------------------------------------------------------------------------------------------
	MODULES
--------------------------------------------------------------------------------------------------*/
.accordion {
  border-top: 1px solid;
  margin-left: -10px;
  width: calc(100% + 20px);
}
.accordion header {
  line-height: 21px;
  text-transform: uppercase;
}
.accordion header:after {
  content: "";
  display: table;
  clear: both;
}
.accordion li, .accordion .news-item {
  border-bottom: 1px solid;
  padding: 0 10px;
}

.panel-collapse {
  height: 0;
  overflow: hidden;
  -webkit-transition: height .5s;
          transition: height .5s;
}

.panel-collapse.in {
  height: auto;
  -webkit-transition: height .5s;
          transition: height .5s;
}

.carousel-inner {
  position: relative;
}
.carousel-inner div {
  position: absolute;
}

.slider-front {
  position: relative;
  width: 760px;
  height: 520px;
}

.carousel-inner img {
  opacity: 0;
  -webkit-transition: opacity 1s;
          transition: opacity 1s;
}

.carousel-inner .active img {
  opacity: 1;
  -webkit-transition: opacity 1s;
          transition: opacity 1s;
}

.left.carousel-control {
  display: block;
  position: absolute;
  z-index: 99999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

#next-title {
  position: absolute;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  font-family: "akzidenz grotesk", "helvetica", arial, sans-serif;
}

#next-title {
  display: none;
}

#next:hover #next-title {
  display: block;
}

#next {
  cursor: none;
}

.ng-leave #next {
  -webkit-animation: fadeOut 1s;
          animation: fadeOut 1s;
}

/*--------------------------------------------------------------------------------------------------
	SECTIONS
--------------------------------------------------------------------------------------------------*/
.site-header {
  background: #fff;
  border-bottom: 1px solid black;
  width: 100%;
}
.site-header:after {
  content: "";
  display: table;
  clear: both;
}
.site-header * {
  line-height: 25px;
}
.site-header .site-title {
  float: left;
}
.site-header .language {
  float: right;
}
.site-header .language li {
  display: inline-block;
}
.site-header .language .active {
  color: #0000ff;
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.site-nav:after {
  content: "";
  display: table;
  clear: both;
}
.site-nav li {
  display: inline-block;
  margin-right: 5px;
}
.site-nav li, .site-nav a {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  font-family: "akzidenz grotesk", "helvetica", arial, sans-serif;
}
.site-nav a.active {
  color: blue;
}

.site-content {
  width: 100vw;
  padding-top: 26px;
  min-height: 100vh;
}

/*--------------------------------------------------------------------------------------------------
	PAGES
--------------------------------------------------------------------------------------------------*/
.news .news-item-date {
  float: left;
  width: 120px;
}
.news .news-item-title {
  float: left;
}

.site-content .projects {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.site-content .projects .project {
  -webkit-flex-basis: 20%;
      -ms-flex-preferred-size: 20%;
          flex-basis: 20%;
  margin-bottom: 10px;
  border-right: 10px solid #fff;
}
.site-content .projects .project img {
  max-width: 100%;
  margin: 0;
}
.site-content .projects .project-number {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  font-family: "akzidenz grotesk", "helvetica", arial, sans-serif;
  float: left;
  width: 25%;
}
.site-content .projects .project-title, .site-content .projects .project-location, .site-content .projects .project-year {
  text-transform: uppercase;
  float: right;
  width: 75%;
}

.project a img {
  -webkit-transition: opacity .2s;
          transition: opacity .2s;
}

.project a:hover img {
  opacity: .1;
  -webkit-transition: opacity .2s;
          transition: opacity .2s;
}

.project-info {
  padding: 5px 0;
}
.project-info:after {
  content: "";
  display: table;
  clear: both;
}

.project-thumb {
  background: #000;
}

.page-project .project {
  width: 768px;
  padding-bottom: 100px;
}

.project-details {
  margin-bottom: 16px;
}
.project-details h3 {
  text-transform: uppercase;
  display: inline-block;
  margin-right: 10px;
}
.project-details p {
  display: inline-block;
  margin: 0;
}

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.wrapper .project {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 768px;
      -ms-flex: 0 0 768px;
          flex: 0 0 768px;
}
.wrapper #next {
  -webkit-box-flex: 1;
  -webkit-flex: auto;
      -ms-flex: auto;
          flex: auto;
}

.page-project .site-content {
  background: #000;
  color: #fff;
}
