/*--------------------------------------------------------------------------------------------------
		SETUP
--------------------------------------------------------------------------------------------------*/

@import 'variables';
@import 'mixins';
@import 'functions';

/*--------------------------------------------------------------------------------------------------
		GLOBAL STYLES
--------------------------------------------------------------------------------------------------*/

@import 'global/base';
@import 'global/typography';
@import 'global/lists';
@import 'global/helpers';
@import 'global/layout';
@import 'global/transitions';

/*--------------------------------------------------------------------------------------------------
		MODULES
--------------------------------------------------------------------------------------------------*/

@import 'modules/accordion';
@import 'modules/slider';
@import 'modules/cursor';

/*--------------------------------------------------------------------------------------------------
		SECTIONS
--------------------------------------------------------------------------------------------------*/

@import 'sections/header';
@import 'sections/nav';
@import 'sections/content';

/*--------------------------------------------------------------------------------------------------
		PAGES
--------------------------------------------------------------------------------------------------*/

@import 'pages/front';
@import 'pages/news';
@import 'pages/projects';
@import 'pages/project';
@import 'pages/profile';
@import 'pages/contact';
@import 'pages/showcase';

/*--------------------------------------------------------------------------------------------------
		EXTERNAL LIBRARIES
--------------------------------------------------------------------------------------------------*/

//bootstrap



// TEMPORARY STYLES:

.projects {
	@include clearfix;
	smargin-left: -10px;
	.project {
		max-width: 437px;
		float: left;
		margin-right: 10px;
		margin-bottom: 10px;
		background: $black;
		@include clearfix;
		img {
			max-width: 100%;
			margin: 0;
		}
	}
	.project-number {
		@include font-l;
		float: left;
		width: 25%;
	}
	.project-title, .project-location, .project-year {
		text-transform: uppercase;
		float: right;
		width: 75%;
	}
}

.download {
	text-transform: uppercase;
	display: block;
}

.site-content img {
	margin-bottom: $line-height-m;
}

.project a img {
	transition: opacity .2s;
}

.project a:hover img {
	opacity: 0;
	transition: opacity .2s;
}

.project-info {
	padding: 5px 0;
	@include clearfix;
	background: $white;
	
}

.project a {
	background: #fff;
}

.project a:visited .project-info {
	color: grey;
}

.page-project .site-content {
	padding-top: 26px;
	height: calc(100vh - 26px);
	background: $black;
	color: $white;
}


.wrapper {
	display: flex;
	.project {
		flex: 0 0 768px;
	}
	#next {
		flex: auto;
	}
}

.project {
	float: left;
}

.view {
    width: 100%;
    padding-left: 1em;
    position:absolute;
    top: 0;
    left: 0;
}

.slideLeft.ng-enter, .slideLeft.ng-leave, .slideRight.ng-enter, .slideRight.ng-leave {
    -webkit-transition:all 1s;
    transition:all 1s;
}

.slideLeft.ng-enter {
    left:100%;
}

.slideLeft.ng-enter.ng-enter-active {
    left:0;
}

.slideLeft.ng-leave.ng-leave-active {
    left:-100%;
}

.slideRight.ng-enter {
    left:-100%;
}

.slideRight.ng-enter.ng-enter-active {
    left:0;
}

.slideRight.ng-leave.ng-leave-active {
    left:100%;
}


// page transitions
/*

[ui-view].ng-enter, [ui-view].ng-leave {
	transition: all 5s;
}

[ui-view].ng-enter main {
	opacity: 0;
	transition: all 5s;
}

[ui-view].ng-enter-active main {
	opacity: 1;
	transition: all 5s;
}
*/


// activate ng-animate: 
/*

[ui-view].ng-enter, [ui-view].ng-leave {
	transition: all 1s ease-in-out;
}

.page {
	position: absolute;
	top: 0;
	spadding-top: 26px;
	width: 100vw;
}

main {
	height: calc(100vh - 26px);
	position: relative;
	top: 26px;
}

/*
[ui-view].ng-enter {
  opacity: 0;
  transform:scale3d(0.5, 0.5, 0.5);
}

[ui-view].ng-enter-active {
  opacity: 1;
  transform:scale3d(1, 1, 1);
}

[ui-view].ng-leave {
  opacity: 1;
  transform:translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
  opacity: 0;
  transform:translate3d(100px, 0, 0);
}*/

/*

[ui-view].ng-enter { 
	top: 100vh;
	transition: all 1s; 
}

[ui-view].ng-enter-active { 
	top: 0;
	transition: all 1s; 
}

.page-home.ng-enter {
	top: 0;
}

[ui-view].ng-leave { 
	top: 0;
	transition: all 1s; 
}



[ui-view].ng-leave-active  {
	top: -100vh;
	transition: all 1s;
}
*/

.page {
	position: absolute; top: 0;
}

main {
	width: 100vw;
	height: 100vh;
}

.page-home main {
	padding-top: 26px;
}

[ui-view].ng-enter, [ui-view].ng-leave {
	transition: all 1s ease-in-out;
}

[ui-view].ng-leave {
	display: none;
}

.news.from-projects,
.news.from-profile,
.news.from-contact {
	animation-duration: 1s;
  	animation-name: slideFromTop;

}

.projects.from-news {
	animation-duration: 1s;
  	animation-name: slideFromBottom;
}
.projects.from-profile,
.projects.from-contact {
	animation-duration: 1s;
  	animation-name: slideFromTop;
}

.profile.from-news,
.profile.from-projects {
	animation-duration: 1s;
  	animation-name: slideFromBottom;
}

.profile.from-contact {
	animation-duration: 1s;
  	animation-name: slideFromTop;
}

.contact.from-news,
.contact.from-projects,
.contact.from-profile {
	animation-duration: 1s;
  	animation-name: slideFromBottom;
}

@keyframes slideFromTop {
  from {
    top: -100vh;
  }

  to {
    top: 0;
  }
}

@keyframes slideFromBottom {
  from {
    top: 100vh;
  }

  to {
    top: 0;
  }
}


.site-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
}

.site-nav {
	padding-top: 26px;
}