/*--------------------------------------------------------------------------------------------------
		SETUP
--------------------------------------------------------------------------------------------------*/

@import 'variables';
@import 'mixins';
@import 'functions';

/*--------------------------------------------------------------------------------------------------
		GLOBAL STYLES
--------------------------------------------------------------------------------------------------*/

@import 'global/base';
@import 'global/typography';
@import 'global/helpers';
@import 'global/layout';
@import 'global/transitions';

/*--------------------------------------------------------------------------------------------------
		MODULES
--------------------------------------------------------------------------------------------------*/

@import 'modules/accordion';
@import 'modules/slider';

/*--------------------------------------------------------------------------------------------------
		SECTIONS
--------------------------------------------------------------------------------------------------*/

@import 'sections/header';
@import 'sections/nav';
@import 'sections/content';

/*--------------------------------------------------------------------------------------------------
		PAGES
--------------------------------------------------------------------------------------------------*/

@import 'pages/front';
@import 'pages/news';
@import 'pages/projects';
@import 'pages/profile';
@import 'pages/contact';
@import 'pages/showcase';

/*--------------------------------------------------------------------------------------------------
		EXTERNAL LIBRARIES
--------------------------------------------------------------------------------------------------*/

// TEMPORARY STYLES:



* {
	font-family: $font-family-copy;
	font-size: 13px;
	color: black;
	font-weight: normal;
	margin: 0;
}

a {
	text-decoration: none;
	&:hover {
		color: blue;
	}
}

.site-header {
	line-height: 25px;
	padding: 0 10px;
	background: white;
	border-bottom: 1px solid black;
	overflow: hidden;
}

.site-title {
	float: left;
}

.language {
	list-style: none;
	margin: 0;
	padding: 0;
	float: right;
	li {
		display: inline-block;
	}
	li.active {
		color: blue;
	}
}

.site-nav {
	overflow: hidden;
	padding: 0 10px;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li {
		display: inline-block;
		margin-right: 5px;
	}
	li, a {
		font-size: 26px;
		line-height: 37px;
		font-family: $font-family-display;
		font-weight: bold;
	}
	li.active {
		color: blue;
	}
	
}