// TYPOGRAPHY

$font-family-copy: 'LetterGothicStd-Bold', consolas, monospace;
$font-family-display: 'akzidenz grotesk', 'helvetica', arial, sans-serif;

$font-weight-bold: bold;
$font-weight-normal: normal;

$font-size-l: 25px;
$font-size-m: 13px;
$font-size-s: 11px;

$line-height-m: 16px;
$line-height-l: 30px;

$white: #fff;
$black: #000;
$blue: #0000ff;

