.accordion {
	border-top: 1px solid;
	margin-left: -10px;
	width: calc(100% + 20px);
	header {
		line-height: 21px;
		text-transform: uppercase;
		@include clearfix;
	}
	li, .news-item {
		border-bottom: 1px solid;
		padding: 0 10px;

	}
}

.panel-collapse {
	display: none;
}

.panel-collapse.in {
	display: block;
}