#next-title {
	position: absolute;
	@include font-l;
}

#next-title {
	display: none;
}

#next:hover #next-title {
	display: block;
}

#next {
	cursor: none;
}


.ng-leave {
	#next {
		animation: fadeOut 1s;
	}
}
